<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-light container">
		<a class="navbar-brand text-primary" href="/">forum</a>
		<div class="flex-fill"></div>
        {{if .LoggedIn}}
        {{.User.Username}}
        <a class="text-primary ml-3" href="/logout">Logout</a>
        {{else}}
        <a class="text-primary" href="/login">Login</a>
        <a class="text-primary ml-3" href="/register">Register</a>
        {{end}}
    </nav>
    <div class="header bg-light border-bottom border-top py-5">
        <div class="container">
			<div class="row">
				<div class="col-xl-8">
				<a href="/threads/{{.Thread.ID}}" class="text-secondary mb-2 mt-2 d-flex align-items-center">
					<svg viewBox="0 0 8 16" width="8" height="16" fill="currentColor">
						 <path fill-rule="evenodd" d="M5.5 3L7 4.5 3.25 8 7 11.5 5.5 13l-5-5 5-5z"></path>
					</svg>
					<span class="ml-2">Back</span>
				</a>
				<h1>{{.Post.Title}}</h1>
				<p class="m-0">{{.Post.Content}}</p>
				</div>
			</div>
		</div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-xl-8 order-1 order-xl-0">
				<div class="card mb-4">
					<div class="text-right">
					<form action="/threads/{{.Thread.ID}}/{{.Post.ID}}" method="POST">
						<textarea name="content" class="form-control border-0 border-bottom-1 p-3"
												placeholder="What are your thoughts?" rows="4"></textarea>
							<div class="border-top p-1">
							  <button class="btn btn-primary btn-sm">comment</button>
							</div>
					</form>
					</div>
				</div>
			
				<div class="card mb-4 px-4">
					{{range .Comments}}
					<div class="d-flex my-4">
						 <div class="pl-4">
							<p class="card-text" style="white-space: pre-line;">{{.Content}}</p>
						</div>
					</div>
				 {{end}}
				</div>
			</div>
            <div class="col-xl-4 order-0 order-xl-1">
			</div>
        </div>
    </div>
</body>

</html>